<div class= "container">
<%#= form_with model: @article, class: "nifty_form",url: articles_path, local: true do |f| %>
  <%= render 'errors' %>
  <%= form_with scope: :article, url: articles_path, local: true do |f| %>
    <p>
      <%= f.label :title ,"Title", class: "label"%>
      <%= f.text_field :title, class: "form-control" %>
    </p>
    <p>  
      <%= f.label :description, "Description", class: "label" %>
      <%= f.text_area :description, size: "60x12", class: "form-control" %>
    </p>  
    <p>
      <%= f.submit "submit article"%>
    </p>
<% end %>
</div>