<div class= "table-area">
<table class="table table-striped table-dark responsive-table table-fixed">
  <thead>
    <tr>
      <th class="tbl-1">Title</th>
      <th class="tbl-1">Description</th>
      <th class= "tbl-1">Date</th>
      <th class="tbl-1">Actions</th>
    </tr>
  </thead>
  <tbody>
  	<% @articles.each do |article| %>
    <tr>
      <td class="tbl-1"><%= simple_format(truncate(article.title, length:40)) %></td>
      <td class="tbl-1"><%= simple_format(truncate(article.description, length: 60)) %></td>
      <td class="tbl-1"><%= time_ago_in_words(article.created_at) %></td>
       
      <td><%= link_to fa_icon("pencil-square", class: "index-icons text-info") ,edit_article_path(article) %> 
        <%= link_to "Edit", article_path(article), class: "btn btn-outline-info btn-sm" %> </td> 
      <td><%= link_to fa_icon("eye", class: "index-icons text-success") ,article_path(article) %>
         <%= link_to "View", article_path(article), class: "btn btn-outline-success btn-sm" %> 
       </td> 
      <td><%= link_to fa_icon("trash", class: "index-icons text-danger") ,article_path(article), method: :delete, data: {confirm: "Are you sure I want to delete?"} %>
      <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger btn-sm" %> </td>  
              
    </tr>
    <% end %> 
  </tbody>
</table>
</div>
