<%= "Articles" %>


<div class="card mb-3" style="max-width: 560px;">
  <div class="row no-gutters">
    <div class="col-md-4 show-img">
    	<%#= image_tag("trees.jpeg", alt: "trees", class: "card-img") %>
    <%#= image_tag(@article.image.img_tag_thumbnail , alt: "trees", class: "card-img") %>
     <!--  <div class="show-img"> -->
        
        <% if @article.image? %>
          <%= image_tag @article.image.thumb.url %>
        <% end %>
<!--       </div>
 -->      <!-- <img src="trees.jpeg" class="card-img" alt="..."> -->
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @article.title %></h5>
        <p class="card-text"> <%= @article.description %></p>
        <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(@article.updated_at) %></small></p>    
      </div>
    </div>
    
  </div>
  <div class="button-center">
      <%= link_to "Edit", edit_article_path, class: "btn btn-info " %>
      <%= link_to "Delete", edit_article_path, class: "btn btn-danger "  %>
</div>



<%#= link_to "uploades", rails_direct_uploads_url %>
</div>
