<%= "Articles" %>


<div class="card mb-3" style="max-width: 560px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    	<%= image_tag("trees.jpeg", alt: "trees", class: "card-img") %>
      <!-- <img src="trees.jpeg" class="card-img" alt="..."> -->
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @article.title %></h5>
        <p class="card-text"> <%= @article.description %></p>
        <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(@article.updated_at) %></small></p>
      </div>
    </div>
  </div>
</div>