
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand " href="#" id= "logo">
    <%= link_to image_tag("NAVYA.jpg", height: '50', width: '100', opacity: '0.5' ), root_path %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a> -->
        <%= link_to "HOME", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <div class="dropdown show">
          <a class="nav-link nav-item btn " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BLOG</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <!-- <a class="dropdown-item" href="#">ARTICLES</a> -->
            <%= link_to "ARTICLES", articles_path, class: "dropdown-item" %>
            <a class="dropdown-item" href="#">BOOKS</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GALLERY</a>
      </li>
      <li class="nav-item">
        <%= link_to("ABOUT ME", about_path, class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to('CONTACT', contact_path, class: "nav-link") %>
      </li>
    </ul>
  </div>
</nav>
