<!DOCTYPE html>
<html>
  <head>
    <title>AppPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navigation' %>

   <div class="container-fluid"> 
    <div id="page-content mt-2">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
   
  </div>
  <%= render 'layouts/footer' %> 
  </body>
    

</html>
